<script>
	/** @type {import('./$types').PageData} */
	export let data;
	export const bigData = [
		{
			title: 'mai',
			kajak: data['mai'].filter((value, index, self) => {
				return self.findIndex((v) => v.nev === value.nev) === index;
			})
		},
		{
			title: 'holnapi',
			kajak: data['holnapi'].filter((value, index, self) => {
				return self.findIndex((v) => v.nev === value.nev) === index;
			})
		}
	];
</script>

<svelte:head>
	<title>105 checker</title>
</svelte:head>

<main>
	{#each bigData as nap}
		<div class="nap">
			<h2>{nap.title.charAt(0).toUpperCase() + nap.title.slice(1)}</h2>

			<table>
				<tr>
					<th>Étel neve</th>
					<th>Feláras-e</th>
				</tr>
				{#each nap['kajak'] as kaja}
					<tr>
						<td> {kaja.nev}</td>
						<td class={kaja.felaras ? 'felaras piros' : 'felaras zold'}
							>{kaja.felaras ? 'Ó igen, sajnos 😤' : 'JUHÚ, nem az 🥳'}</td
						>
					</tr>
				{/each}
			</table>
		</div>
	{/each}
</main>

<style jsx>
	main {
		width: 80%;
		margin: auto;
	}

	main div:first-child {
		border-left: 0;
	}

	main div:last-child {
		border-right: 0;
	}
	table {
		margin: auto;
		max-width: 60%;
		width: 100%;
	}

	td.zold {
		background-color: green;
		color: white;
	}
	td.piros {
		background-color: red;
		color: white;
	}
	td.felaras {
		text-align: center;
		padding-right: 0;
	}

	h2 {
		text-align: center;
	}
	@media (max-width: 812px) {
		main {
			max-width: none;
			display: grid;
			justify-content: space-between;
		}
		table {
			max-width: 100%;
			width: 100%;
			margin: auto;
		}
	}
</style>
